<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">



	<test name="Chrome Test">
		<parameter name="browser" value="chrome">
			<classes>
				<class name="com.atmecs.yatra.testscripts.SearchCruiseClass" />
			</classes>
		</parameter>
	</test> <!-- Test -->
	<test name="FireFox Test">
		<parameter name="browser" value="firefox">
			<classes>
				<class name="com.atmecs.yatra.testscripts.SearchCruiseClass" />

			</classes>
		</parameter>
	</test>
</suite> <!-- Suite -->

